<%= form_for @estampa, html: { multipart: true } do |f| %>
  <% if @estampa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estampa.errors.count, "error") %> prohibited this estampa from being saved:</h2>

      <ul>
      <% @estampa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :criador %><br>
    <%= f.text_field :criador %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div>
    <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
